<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>278666635627-jdt31pjon0b1hgkmngh2cs4e2spok8vl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1W4553ZPjtKwrPyNw4BC8ZMCmmTiDqzM</string>
	<key>GCM_SENDER_ID</key>
	<string>278666635627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.br.catiasouza.DoacaoBrinquedo</string>
	<key>PROJECT_ID</key>
	<string>arctic-kiln-227722</string>
	<key>STORAGE_BUCKET</key>
	<string>arctic-kiln-227722.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278666635627:ios:58437b377008952ea8442e</string>
	<key>DATABASE_URL</key>
	<string>https://arctic-kiln-227722.firebaseio.com</string>
</dict>
</plist>